.about-title {
  background:url("./../images/bg/bg-about1.png") no-repeat;
  background-size: cover;

}
@media screen and (max-width: 1024px) {
  .about-title {
    background-position-x: -15rem;
  }
}
@media screen and (max-width: 820px) {
  .about-title {
    background-position-x: -26rem;
  }
}
@media screen and (max-width: 760px) {
  .about-title {
    background-position-x: -35rem;
  }
}
@media screen and (max-width: 425px) {
  .about-title {
    background-position-x: -71rem;
  }
}
@media screen and (max-width: 393px) {
  .about-title {
    background-position-x: -79rem;
  }
}
@media screen and (max-width: 375px) {
  .about-title {
    background-position-x: -66rem;
  }
}
//@media screen and (max-width: 325px) {
//  .about-title {
//    background-position-x: -15rem;
//  }
//}
