.about-main {
  &__container {
    display: flex;
  }
  &__story {
    h2 {
      font-size: 1.8rem;
      font-weight: 500;
    }
    p {
      font-size: 1.4rem;
      font-weight: 300;
    }

  }
}