.blog-content {
  background: linear-gradient(to bottom, #fafafa 0 99.5%, #f2f2f2 100%) ;
  &__wrap {
    width: 75rem;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    padding: 7rem 0 10rem 0;
  }
  &__list {
    //width: 75rem;
    max-height: 148rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    &--hide {
      display: none;
      text-align: center;
      font-size: 2.5rem;
      padding: 3rem;
      margin: 2rem;
      color: @color-gray;
    }
  }
  &__btn {
    text-align: center;
  }
}