.btn {
  display: inline-block;
  //border: 0;
  list-style: none;
  outline: none;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
  vertical-align: middle;
  color: inherit;
}