.nav {
  ul {
    display: flex;
    padding-left: 0;
    justify-content: center;
  }
  &__item {
    list-style: none;
    padding: 2.8rem 2.25rem 2.4rem;
    letter-spacing: 1px;
    a {
      color: @color-gray;
      text-decoration: none;
      font-weight: bold;
      text-transform: uppercase;
      &:hover {
        color: @color-dark;
      }
    }
  }
}
@media screen and (max-width: 1024px){
  .nav {
    &__item {
      padding: 2.8rem 1.5rem 2.4rem;
    }
  }
}