.portfolio-title {
    background:url("./../images/bg/bg-portfolio1.jpg") no-repeat;
    background-size: cover;
    background-position-y: -6rem;
}


@media screen and (max-width: 1024px){
    .portfolio-title {
        background-position-y: 0;
    }
}
@media screen and (max-width: 820px){
    .portfolio-title {
        background-position-x: -24rem;
    }
}

@media screen and (max-width: 768px){
    .portfolio-title {
        background-position: -29rem 1rem;
    }
}
@media screen and (max-width: 425px) {
    .portfolio-title {
        background-position-x: -61rem;
    }
}
//@media screen and (max-width: 393px) {
//    .portfolio-title {
//        //background-position-x: -64rem;
//    }
//}
@media screen and (max-width: 360px) {
    .portfolio-title {
        background-position-x: -53rem;
    }
}
@media screen and (max-width: 320px) {
    .portfolio-title {
        background-position-x: -59rem;
    }
}