.product-cards {
  background: linear-gradient(to bottom, #fafafa 0 99.5%, #f2f2f2 100%) ;
  &__nav{
    padding: 3rem 0;
  }
  &__nav-list {
    //justify-items: center;
    border-top: 1px solid @color-light-gray;
    border-bottom: 1px solid @color-light-gray;
    margin: 0;

  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    line-height: 0;
    height: 133.2rem;
  }
  &__item {
    margin-bottom: 3.3rem;
  }
  &__btn {
    text-align: center;
    padding-bottom: 7rem;
  }
}