.sliderStatic-mob {
  background: url("./../images/slider/slider1.png") no-repeat center/cover;
  //&__img {
  //  position: relative;
  //  width: 100%;
  //  img {
  //    width: 100%;
  //  }
  //}
  &__content {
    //position: relative;
    //bottom: 14rem;
    //width: 16rem;
    //left: 3rem;
    display: inline-block;
    margin: 8rem 4rem;
    //h1 {
    //  font-size: 1.8rem;
    //  padding: 2rem 3rem;
    //}
    //p {
    //  margin-top: 1.8rem;
    //}
  }
}
@media screen and (max-width: 767px) {
  .sliderStatic-mob {
    //&__content {
    //  position: relative;
    //  bottom: 24rem;
    //  width: 31rem;
    //  left: 3rem;
    //}
  }
}
@media screen and (min-width: 767px) {
  .sliderStatic-mob {
    display: none;
  }
}