.sliderStatic-mob {
  background: url("./../images/bg/bg-mob.jpg") round repeat 0 50rem;
  height: 100vh;
  width: 100%;
  animation: loading 100s infinite linear;
  //background-position: 0 50rem;



  //&__img {
  //  position: relative;
  //  width: 100%;
  //  img {
  //    width: 100%;
  //  }
  //}
  &__content {
    //position: relative;
    //bottom: 14rem;
    //width: 16rem;
    //left: 3rem;
    display: inline-block;
    margin: 8rem 4rem;
    //h1 {
    //  font-size: 1.8rem;
    //  padding: 2rem 3rem;
    //}
    p {
      //display: flex;
      //flex-direction: column;
      color: #fff;
      position: absolute;
      left: auto;
      top: 50%;
      margin: 0 -18px;
      height: 100vh;
      width: 17rem;
      font-weight: 500;
      z-index: 5;
      text-shadow: 0.1px 0.11px #e2d5e2;
      a {
        text-decoration: none;
        //font-size: inherit;
        color: inherit;
        display: inline-block;
        transition: font-size 200ms linear;
      }

    }
    a:hover {
      //border-bottom: 3px solid red;
      //border-radius: 29px 0px 0px 11px;;
      font-size: 1.6rem;
      margin: 1rem 0;
      color: aquamarine;
      &:first-child {
        margin-top: 0;
      }

    }
  }
}
@media screen and (max-width: 768px) {
  .sliderStatic-mob {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 7.7rem;
      z-index: 2;
      width: 50%;
      height: 100vh;
      background: #161626;
      opacity: .6;

    }
    &__container {
      p {

      }
    }
  }
}
@media screen and (min-width: 767px) {
  .sliderStatic-mob {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .sliderStatic-mob {
    &__content {
      width: 61%;
    }
  }
}
@media screen and (max-width: 320px) {
  .sliderStatic-mob {
    &::before {
      top: 6.8rem;
    }
    &__content {
      p {
        font-size: 1.4rem;
        width: 14rem;

      }
    }
  }
}
@keyframes loading {
  0%{background-position: 0 0;}
}